{% extends 'base.html' %}
{% block head %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}


{% block content %}

 Question <h4> {{ question.title }} </h4>  
 {% if answer in question_set.all %}
	{% for answer in question_set.all %}
	<h4>{{ answer.description }} </h4>

	{% endfor %}
	{% else %}
	<h3> No answers so far </h3>
	{% endif %}
	<form action="{% url 'answer' %}" method="post" role="form">
      {% csrf_token %}
      {{ form.question }}
      <div class="form-group">
        {{ form.description }}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"> Answer </button>
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("description") });
</script>
{% endblock %}


		

