{% extends 'base.html' %}
	
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}

{% block content %}
<body>
<form name ="question-form" method="POST" action ="{% url 'ask' %}">{% csrf_token %}
 Question  <h4> {{ question.title }} </h4>  
	{{ form.title }} 
	<br/>
	<br/>
  
  <small> To insert source code, please use <a href = "https://gist.github.com">This link to generate gist and embed the javascript </a> or format it with 4spaces </small>
  <br/>
  <br/>
  <br/>
 <small> Description </small> <input type ="text" id ="description" name ="description" value = "">

<h4> Tags </h4>
{{ form.tags }}
 <input type ="submit" value ="post">
</form>
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("description") });
</script>
{% if form.errors %}
{{ form.errors }}
{% endif %}




{% endblock %}
		