{% extends 'base.html' %}
{% block content %}
{% load humanize %}
 <h4> Question list </h4>
 {% if question_list %}
 {% for question in question_list %}
 <h3> <a href ="{% url 'question-detail' question.pk %}">{{ question.title }}</a><small> Answers({{ question.answercount }})</small></h3> <small> by <a href ="{% url 'profile-detail' question.user.pk %}" >{{ question.user.username }} at {{ question.updated_at|naturaltime }}</a> </small>
 <hr>
 <hr>
 
{% endfor %}
{% endif %}
 {% if is_paginated %}
{% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
    {% else %}
          <h4> pagination not working</h4>
{% endif %}

{% endif %}
 
{% endblock %}