{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}

{% block content %}
{% if question  %}
<h4><small> {{ question.title }} </small></h4>
  {{ question.get_description|safe }} 
{% else %}

<small > an error occured </small>
{% endif %}
{% for answer in question.get_answers %}
{% if user.is_authenticated %}
<small> <a href  ="{% url 'profile-detail' user.pk %}">{{ answer.user.username }} </a> says : at {{ answer.updated_at }}</small>
{% else %}
<small> <a href  ="{% url 'login' %}">{{ answer.user.username }} </a> says : at {{ answer.updated_at }}</small>
{% endif %}
 {{ answer.get_description|safe }}
}
}
<hr>

{% endfor %}

<form name ="answerform" action ="{% url 'answer' %}" method ="POST">{% csrf_token %}
{{ form.question }}
<br/>
	<br/>
  
  <small> To insert source code, please use <a href = "https://gist.github.com">This link to generate gist and embed the javascript </a></small>
  <br/>
  <br/>
  <br/>
 <small> Description </small> <textarea id ="description" name ="description" value = "" wrap="hard"> </textarea> 


<input type ="submit" value ="answer" >
</form>
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("description") });
</script>

{% endblock %}